.pomodoro-container {
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  font-family: $font-style-primary;
  display: flex;
  position: relative;
}

.line-through{
  text-decoration: line-through;
}

.turn-opposite{
  transform: rotate(180deg) !important;
}
