.pomodoro-container {
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  font-family: $font-style-primary;
  display: flex;
  position: relative;
}

.line-through{
  text-decoration: line-through;
}

.bg-secondary{
  background-color: $bg-secondary !important;
}

.font-color-primary{
  color: $bg-primary !important;
}

.font-color-secondary{
  color: $bg-secondary !important;
  &::placeholder{
    color: $bg-secondary !important;
  }
}

.btnSecondHover{
  &:hover{
    color: $font-color-light !important;
    background-color: $bg-secondary !important;
  }
}

.bg-lighten-secondary{
  background-color: $bg-lighten-secondary !important;
}
