$bg-dark: #003164;
$bg-light: #ffffff;
$bg-primary: #ff4384;
$bg-secondary: #00a7ff;
$bg-lighten-primary: #ffedf7;
$bg-lighten-secondary: #e5f3ff;
$font-color-primary: #ff4384;
$font-color-secondary: #00a7ff;
$font-color-dark: #003164;
$font-color-light: #ffffff;
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1.5;
$font-display-sm: $font-size-base * 2.25;
$font-display-md: $font-size-base * 4;
$font-display-lg: $font-size-base * 11;
$font-style-primary: "Roboto", Arial, sans-serif;
$font-style-sencondary: "Futura", Arial, sans-serif;
