$border-color-light: #D9D9D9;
$border-color-dark: #AFAFAF;
$bg-dark: #f7f6f5;
$shadow-color: rgba(0, 0, 0, 0.16);
$font-color-dark: #58554F;
$font-default: 'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
