$c-border-color-light: #D9D9D9;
$c-border-color-dark: #AFAFAF;
$c-primary-color: #82D5E8;
$c-font-size-m: 26px;
$c-bg-dark: #f7f6f5;
$c-shadow-color: rgba(0, 0, 0, 0.16);
$c-font-color-dark: #58554F;
$c-font-default: 'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
