// global
*,
html,
body {
  font-family: $c-font-default;
  &::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
}

.c-card {
  width: 100px;
  height: 140px;
  border-radius: 5px;
  background: $c-bg-dark;
}

.c-cards-border {
  border: $c-border-color-light 1px solid;
}

.c-card-position-absolute {
  position: absolute;
  top: -1000px;
  transition: all 0.5s ease-out;
}

// layout
.c-cover-container {
  @include position-absolute(50%, 50%, -50%, -50%) {
    width: 1280px;
    height: 800px;
    transition: all 0.75s cubic-bezier(0.83, -0.71, 0.58, 1);
    position: absolute;
    background: url("~@/assets/images/bg-cover.svg") bottom / contain no-repeat;
  }

  .c-enter-panel {
    @include d-flex(column) {
      width: 265px;
      height: 800px;
    }

    .c-cover-logo-secondary {
      width: 80px;
      height: 120px;
      background: url("~@/assets/images/king.svg") center center / cover no-repeat;
    }

    .c-cover-logo {
      width: 265px;
      height: 65px;
      background: url("~@/assets/images/logo.svg") center center / cover no-repeat;
    }

    .c-btn-enter {
      width: 185px;
      height: 55px;
      color: $c-primary-color;
      font-size: $c-font-size-m;
      font-weight: bold;
      border-radius: 27px;
      border: 3px solid $c-primary-color;
      background: transparent;
      outline: none;
      &:hover {
        background: darken($c-bg-dark, 1%);
      }
      &:active {
        background: darken($c-bg-dark, 5%);
      }
    }
  }
}
.c-main-container {
  @include position-absolute(1000px, -1000px, -50%, -50%){
    transition: all 1s cubic-bezier(0.25, 0.1, 0.21, 1.44);
  }

  .c-main-wrapper {
    width: 1280px;
    height: 800px;
    position: relative;
    background: url("~@/assets/images/bg-main.svg") bottom / contain no-repeat;

    .c-main-logo {
      @include position-absolute(60px, 45px) {
        width: 180px;
        height: 45px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
        background: url("~@/assets/images/logo.svg") center center / cover no-repeat;
      }
    }

    .c-settings-container {
      @include position-absolute(1040px, 30px) {
        @include d-flex(row) {
          width: 180px;
        }
      }

      .c-setting {
        display: block;
        width: 60px;
        height: 70px;
        border-radius: 5px;
        line-height: 100px;
        text-decoration: none;
        color: $c-font-color-dark;
        &:hover {
          background-color: $c-bg-dark;
        }
        &:active {
          background-color: darken($c-bg-dark, 10%);
        }
      }

      .c-bg-reset {
        background: url("~@/assets/images/reset.svg") 50% 25% / 40% no-repeat;
      }

      .c-bg-pre_step {
        background: url("~@/assets/images/pre-step.svg") 50% 25% / 40% no-repeat;
      }

      .c-bg-pause {
        background: url("~@/assets/images/pause.svg") 50% 25% / 40% no-repeat;
      }
    }

    .c-decks-container {
      @include position-absolute(60px, 155px) {
        @include d-flex(row, space-between) {
          width: 1160px;
          height: 140px;
        }
      }

      .c-deck-panel {
        @include d-flex(row, space-between) {
          width: 490px;
          height: 140px;
        }
        .c-blank-deck-border {
          border: $c-border-color-dark 1px solid;
        }

        .c-target-deck-shadow {
          box-shadow: 0px 3px 14px $c-shadow-color;
        }

        .c-target1 {
          background: $c-bg-dark url("~@/assets/images/target-spade.svg") center center / 30% no-repeat;
        }

        .c-target2 {
          background: $c-bg-dark url("~@/assets/images/target-heart.svg") center center / 30% no-repeat;
        }

        .c-target3 {
          background: $c-bg-dark url("~@/assets/images/target-diamond.svg") center center / 30% no-repeat;
        }

        .c-target4 {
          background: $c-bg-dark url("~@/assets/images/target-club.svg") center center / 30% no-repeat;
        }
      }
    }
    .c-cards-container {
      @include position-absolute(60px, 325px) {
        @include d-flex(row, space-between) {
          width: 1160px;
        }
      }

      .c-cards-panel {
        @include d-flex(row, space-between, flex-start) {
          width: 490px;
        }

        .c-card-column {
          width: 100px;
        }
      }
    }
  }
}
